<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- 공통 헤드 -->
	<th:block th:replace="/fragments/mypage/head :: headFragment"></th:block>

	<body>
	<th:block th:replace="/fragments/mypage/sidebar :: sidebarFragment"></th:block>
	<div>
	<div id="content-wrapper" class="d-flex flex-column">

		<div class="content" style="background-color: white;">
			<div class="container">
				<div class="cd1">

					<th:block layout:fragment="content" style="background-color: white;"></th:block>

				</div>
			</div>


		</div>
		<br> <br>
		<div th:replace="fragments/mypage/footer :: footerFragment"></div>
	</div>
	</div>

<!--		<div th:replace="fragments/mypage/footer::footer"></div>-->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/mypage/script :: scriptFragment"></th:block>

	<!-- 각 페이지의 JS 코드 렌더링 -->
	<th:block layout:fragment="script"></th:block>
</body>
</html>