<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/mypageLayout}">

<th:block layout:fragment="content">

	<h2 style="font-weight: bold; margin-left: 200px;">[&nbsp;&nbsp;&nbsp;스페이스 관리&nbsp;&nbsp;&nbsp;]</h2>
	<div
		style="border: 1px solid #094B80; background-color: white; float: center; height: 100%; width: 800px; margin-right: 15px; margin-left: 200px; margin-top: 30px; text-align: center;">
		<!-- 검색 -->
		<div
			style="float: left; width: 5%; margin-top: 35px; margin-left: 20px;">
			<input type="checkbox" name="titleCheck" value="1"
				style="width: 24px; height: 24px;">
		</div>

		<div style="float: left; width: 25%; margin-top: 23px;">
			<select class="form-select border-1"
				style="height: 50px; width: 180px; margin-left: 20px;">
				<option selected>공개 여부</option>
				<option value="1">공개</option>
				<option value="2">비공개</option>
			</select>
		</div>

		<div style="float: left; width: 25%; margin-top: 23px;">
			<select class="form-select border-1"
				style="height: 50px; width: 180px; margin-left: 20px;">
				<!-- <option value="default" selected>카테고리</option> -->
					<option th:text="${categorys1}" th:value="${categorysID1}" selected>프로필</option>
					<option th:text="${categorys2}" th:value="${categorysID2}">프로젝트</option>
					<option th:text="${categorys3}" th:value="${categorysID3}">대외 활동</option>
					<option th:text="${categorys4}" th:value="${categorysID4}">수상자격 / 자격증</option>
					<option th:text="${categorys5}" th:value="${categorysID5}">보유 기술</option>
			</select>
		</div>
		<div
			style="float: left; width: 35%; margin-top: 23px; margin-left: 20px;">
			<!-- 검색창 -->
			<div class="search" style="width: 100%;">
				<input class="search_text" type="text" placeholder="검색어 입력"
					style="height: 50px;"> <img class="search_img"
					src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
					style="height: 30px; width: 30px;">
			</div>
		</div>

		<br> <Br> <Br>
		<hr style="color: #094B80;">

		<!-- 프로필 -->
		<div th:each="vo : ${lists}">
			<div th:if="${member.id == vo.member.id}">
				<div
					style="float: left; width: 5%; margin-top: 10px; margin-left: 20px;">
					<input type="checkbox" name="titleCheck" value="1"
						style="width: 24px; height: 24px;">
				</div>

				<div style="float: left; width: 62%; margin-top: 5px;">
					<div class="spaceTitle" style="width: 400px; font-size: 23px; letter-spacing: 4px; text-align: left; margin-left: 20px; float: left; border: none;"
						th:text="${vo.title}">스페이스타이틀</div>
				</div>

				<!--
				<div style="float: left; width: 30%; margin-top: 5px;">
				<a href="/mypage/spaceEdit/update/" th:attrappend="href=${vo.id}">
					<button type="button" class="btn btn-space"
						style="width: 100px; margin-right: 7px;" onclick="check();">수&nbsp;정</button>
						</a>
						<a href="/mypage/spaceEdit/delete/" th:attrappend="href=${vo.id}">
					<button type="button" class="btn btn-space" style="width: 100px;"
						onclick="alert('스페이스가 삭제되었습니다.');">삭&nbsp;제</button></a>
				</div>
				-->
				<br> <Br>
				<hr style="color: #094B80;">
			</div>
		</div>
		<br>



			</div>
			<a href="/mypage/write">
				<button type="button" class="btn btn-space" style="width: 120px;float: right;margin-right: 76px;margin-top : 5px" >작성</button>
			</a>
			<button type="button" class="btn btn-space" style="width: 120px;float: right;margin-right: 10px;margin-top : 5px" >삭제</button>
			<button type="button" class="btn btn-space" style="width: 120px;float: right;margin-right: 10px;margin-top : 5px" >일괄수정</button>
			<br> <br>
			<!--
			<div style="float: right; margin-right: 0px;">
				<nav aria-label="Page navigation example">
					<ul class="pagination" style="margin-right: 70px; width: 210px;">
						<li class="page-item" style="border: none;"><a
							class="page-link" href="#" aria-label="Previous"> <span
								aria-hidden="true" style="color: #094B80;">◀</span>
						</a></li>
						<li class="page-item" style="border: none;"><a
							class="page-link" href="#" style="color: #094B80;">1</a></li>
						<li class="page-item" style="border: none;"><a
							class="page-link" href="#" style="color: #094B80;">2</a></li>
						<li class="page-item" style="border: none;"><a
							class="page-link" href="#" style="color: #094B80;">3</a></li>
						<li class="page-item" style="border: none;"><a
							class="page-link" href="#" aria-label="Next"> <span
								aria-hidden="true" style="color: #094B80;">▶</span>
						</a></li>
					</ul>
				</nav>
			</div>
			-->
<!--			<br> <br>-->
	<!--
<div th:replace="fragments/mypageFooter::footer"></div>
-->
</th:block>
</html>