<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/mypageLayout}">

<th:block layout:fragment="content">

	<h2 style="font-weight: bold; margin-left: 200px;">[&nbsp;&nbsp;&nbsp;외부스페이스&nbsp;&nbsp;&nbsp;]</h2>
	<div
			style="border: 1px solid #023476; background-color: white; float: center; height: 470px; width: 800px; margin-right: 15px; margin-left: 200px; margin-top: 30px; text-align: center;">

	</div>
</th:block>
</html>