<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/mypageLayout}">
<th:block layout:fragment="css">
	<style>
		.job_header{
			width:1470px;
			height:119px;
		}
		.inner{
			float:left;
			margin-top:44px;
		}
		.job_div {
			border: 1px solid black; /* 테두리 두께와 색상 */
			padding: 8px 7px 0px 8px; /* 내용물과 테두리 사이의 여백 */
			margin: 3px 7px 10px 5px;
			height: auto;
			width: 370px;
		}
	</style>
</th:block>

<th:block layout:fragment="content">

	<div class="job_header">
		<img src="/img/calendar.png" style="width: 75px; height: 75px; float: left; margin-top: 26px; margin-left: 45px;">
		<h2 class="inner" style="font-weight: bold; margin-left: 110px;">[&nbsp;&nbsp;&nbsp;채용 공고&nbsp;&nbsp;&nbsp;]</h2>

		<!-- 취업 희망 지역 -->
		<select class="form-select inner" id="sido" name="sido" aria-label="Default select example" style="padding-top:5px; width:195px; height:50px; margin-left:350px;">
			<option value="">특별시∙도</option>
		</select>

		<select class="form-select inner" id="sgg"  name="sgg" aria-label="Default select example" style="padding-top:5px; width: 195px;height: 50px; margin-left:20px;">
			<option value="">시∙군∙구</option>
		</select>

		<!-- 관심 분야 -->
		<select class="form-select border-1 inner" id="srch_rqr1" style="height: 50px; width: 195px; margin-left: 20px;">
			<option selected value="">관심분야</option>
			<option th:each="area, iter : ${local}" th:value="${iter.index + 1}" th:text="${area}" th:selected="${area} == ${member.area}"></option>
		</select>

		<img class="inner"
			 src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
			 onclick="search()" style="height: 30px; width: 30px; margin-top:55px; margin-left:20px;">
	</div>

	<!-- 리스트 -->
	<div style="border: 1px solid #023476; background-color: white; float: left; height: 950px; width: 400px; text-align: left; overflow-y: auto;">
		<div id="job_list"></div>
	</div>

	<!-- 지도 -->
	<div id="map" style="border: 1px solid #023476; width:1070px; height:950px;"></div>
</th:block>
<th:block layout:fragment="script">
<!--	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d88fe30f1babaf45150d93fec381f08"></script>-->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d88fe30f1babaf45150d93fec381f08&libraries=services,clusterer,drawing"></script>

	<script th:inline="javascript">
		// 취업정보 시작 페이지 번호
		var start = 0;

		var html = '<div style="height:5px;"></div>';

		// 지도를 생성
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div
				mapOption = {
					center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
					level: 3 // 지도의 확대 레벨
				};

		var map = new kakao.maps.Map(mapContainer, mapOption);

		// 클러스터 정보
		var clustererList = [];

		$(document).ready(function() {
			// cd1 css 값 변경
			document.querySelector('.cd1').style.marginLeft = '112px';
			document.querySelector('.cd1').style.marginTop = '0px';
			document.querySelector('.cd1').style.width = '1470px';
			document.querySelector('.content').style.marginBottom = '0px';

			// 취업 희망지역 리스트 조회
			var memberSggcd = /*[[ ${member.sggCd} ]]*/;
			getSido(memberSggcd);
			getSgg(memberSggcd);

		});

		// 특별시도 선택 상위 시도 출력
		async function getSido(memberSggcd) {
			var memberSggcd = memberSggcd;
			var response = await fetch('/members/api/getSido');
			var data = await response.json();
			let html = '';

			if(!data.length){
				alert('해당하는 정보가 존재하지 않습니다.');
			} else {
				data.forEach((obj, idx) => {
					if(memberSggcd.substring(0,3) == obj.sggCd.substring(0,3)) {
						html += `
					 		<option value="${obj.sggCd}" selected>${obj.sggNm}</option>
							 `;
					} else {
						html += `
					 		<option value="${obj.sggCd}">${obj.sggNm}</option>
							 `;
					}
				});
			}
			$('#sido').append(html).trigger("change");
		}

		// 특별시도 선택시 하위 시군구 출력
		function getSgg(memberSggcd){
			var memberSggcd = memberSggcd;
			$(document).on("change","select[name=sido]",async function () {
				const sido = $("#sido").val();
				if (sido !== "") {
					var response = await fetch(`/members/api/getSgg?sido=${sido}`);
					var data = await response.json();
					let html = '';
					$('#sgg').empty();
					data.forEach((obj, idx) => {
						if(memberSggcd == obj.sggCd) {
							html += `
					 		<option value="${obj.sggCd}" selected>${obj.sggNm}</option>
							 `;
						} else {
							html += `
					 		<option value="${obj.sggCd}">${obj.sggNm}</option>
							 `;
						}
					})
					$('#sgg').append(html);

				}
				// 취업정보 리스트 조회
				await list_init();

				// 지도
				await f_map();
			});
		}

		// 취업정보 리스트 조회 초기 설정
		function list_init() {
			start = 0;
			html = '<div style="height:5px;"></div>';

			// 검색 키워드
			const apiKey = 'BoFlNwElGZxzfuD1Wvir1OjKRPmf5oi9MLHRyHrXKPci3R6T4mou';
			const locCd = $("#sgg").val();
			const indCd = $("#srch_rqr1").val();

			fetch(`https://oapi.saramin.co.kr/job-search?access-key=${apiKey}&loc_cd=${locCd}&ind_cd=${indCd}&count=100&start=${start}`).then(response => {
				if(!response.ok) {
					throw new Error('Request failed...');
				}
				return response.json();
			}).then(json => {
				// let html = '<div style="height:5px;"></div>';

				$('#job_list').empty();
				json.jobs.job.forEach(function (data, idx){
					console.log(data);
					f_for(data);
					// await f_clusterer(data.position.location.name.replace(' &gt;', ''));
				// 	html += `<a href="${data.company.detail.href}" target='_blank' style="color: #023476; font-size:larger; margin-left: 7px;">${data.company.detail.name}</a>
				// 			 <div class="job_div">
				// 				 <div style="font-size: large;font-weight: bold;">※&nbsp;${data.position.title}</div>
				// 				 <ul style="padding-left: 20px;">
				// 					<li><strong>경력</strong> - <span style="color: blue">${data.position['experience-level'].name}</span></li>
				// 					<li><b>학력</b> - <span style="color: blue">${data.position['required-education-level'].name}</span></li>
				// 					<li><b>근무형태</b> - <span style="color: blue">${data.position['job-type'].name}</span></li>
				// 					<li><b>직무</b> - ${data.position['job-mid-code'].name}&nbsp;<span style="font-size: small;">(${data.position['job-code'].name})</span></li>
				// 					<li><b>급여</b> - ${data.salary.name}</li>
				// 					<li><b>근무지</b> - ${data.position.location.name}</li>
				// 					<li><b>마감일</b> - ${data['close-type'].name}</li>
				// 					<button class="btn btn-space" style="width: 90px;height:37px; margin-left: 233px;padding: 0px;" onclick="window.open('${data.url}')">상세</button>
				// 				 </ul>
				// 			 </div>
				// 	`;
				//
				// 	var adr = data.position.location.name.replace(' &gt;', '');
				// 	// 주소-좌표 변환 객체를 생성
				// 	var geocoder = new kakao.maps.services.Geocoder();
				//
				// 	// 주소로 좌표를 검색
				// 	geocoder.addressSearch(adr, function(result, status) {
				//
				// 		// 정상적으로 검색이 완료됐으면
				// 		if (status === kakao.maps.services.Status.OK) {
				//
				// 			var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
				//
				// 			// 클러스터 리스트에 추가
				// 			let newLocation = { "lat": coords.La, "lng": coords.Ma	};
				// 			// 배열에 객체 추가
				// 			clustererList.push(newLocation);
				// 		}
				// 	});
				});

				$('#job_list').append(html);

				if((json.jobs.total > (start+1) *100) && (start <= 10)){
					start += 1;
					list();
				} else {
					$('#job_list').append(html);
					f_clusterer();
				}
			}).catch(error => {
				alert('취업 정보를 찾을 수 없습니다.');
			})
		}

		// 취업정보 리스트 조회
		async function list() {

			// 검색 키워드
			const apiKey = 'BoFlNwElGZxzfuD1Wvir1OjKRPmf5oi9MLHRyHrXKPci3R6T4mou';
			const locCd = $("#sgg").val();
			const indCd = $("#srch_rqr1").val();


			var response = await fetch(`https://oapi.saramin.co.kr/job-search?access-key=${apiKey}&loc_cd=${locCd}&ind_cd=${indCd}&count=100`);
			var json = await response.json();

			debugger;
			json.jobs.job.forEach(function (data, idx){
				f_for(data);
				// await f_clusterer(data.position.location.name.replace(' &gt;', ''));
				// html += `<a href="${data.company.detail.href}" target='_blank' style="color: #023476; font-size:larger; margin-left: 7px;">${data.company.detail.name}</a>
				// 		 <div class="job_div">
				// 			 <div style="font-size: large;font-weight: bold;">※&nbsp;${data.position.title}</div>
				// 			 <ul style="padding-left: 20px;">
				// 				<li><strong>경력</strong> - <span style="color: blue">${data.position['experience-level'].name}</span></li>
				// 				<li><b>학력</b> - <span style="color: blue">${data.position['required-education-level'].name}</span></li>
				// 				<li><b>근무형태</b> - <span style="color: blue">${data.position['job-type'].name}</span></li>
				// 				<li><b>직무</b> - ${data.position['job-mid-code'].name}&nbsp;<span style="font-size: small;">(${data.position['job-code'].name})</span></li>
				// 				<li><b>급여</b> - ${data.salary.name}</li>
				// 				<li><b>근무지</b> - ${data.position.location.name}</li>
				// 				<li><b>마감일</b> - ${data['close-type'].name}</li>
				// 				<button class="btn btn-space" style="width: 90px;height:37px; margin-left: 233px;padding: 0px;" onclick="window.open('${data.url}')">상세</button>
				// 			 </ul>
				// 		 </div>
				// 	`;
				//
				// var adr = data.position.location.name.replace(' &gt;', '');
				// // 주소-좌표 변환 객체를 생성
				// var geocoder = new kakao.maps.services.Geocoder();
				//
				// // 주소로 좌표를 검색
				// geocoder.addressSearch(adr, async function(result, status) {
				//
				// 	// 정상적으로 검색이 완료됐으면
				// 	if (status === kakao.maps.services.Status.OK) {
				//
				// 		var coords = await new kakao.maps.LatLng(result[0].y, result[0].x);
				//
				// 		// 클러스터 리스트에 추가
				// 		let newLocation = { "lat": coords.La, "lng": coords.Ma	};
				// 		// 배열에 객체 추가
				// 		clustererList.push(newLocation);
				// 	}
				// });
			});

			if((json.jobs.total > (start+1) *100) && (start <= 10)){
				start += 1;
				await list();
			} else {
				$('#job_list').append(html);

				await f_map();

				f_clusterer();
			}
		}

		// 취업정보 반복문 내부
		function f_for(data){
			html += `<a href="${data.company.detail.href}" target='_blank' style="color: #023476; font-size:larger; margin-left: 7px;">${data.company.detail.name}</a>
				 <div class="job_div">
					 <div style="font-size: large;font-weight: bold;">※&nbsp;${data.position.title}</div>
					 <ul style="padding-left: 20px;">
						<li><strong>경력</strong> - <span style="color: blue">${data.position['experience-level'].name}</span></li>
						<li><b>학력</b> - <span style="color: blue">${data.position['required-education-level'].name}</span></li>
						<li><b>근무형태</b> - <span style="color: blue">${data.position['job-type'].name}</span></li>
						<li><b>직무</b> - ${data.position['job-mid-code'].name}&nbsp;<span style="font-size: small;">(${data.position['job-code'].name})</span></li>
						<li><b>급여</b> - ${data.salary.name}</li>
						<li><b>근무지</b> - ${data.position.location.name}</li>
						<li><b>마감일</b> - ${data['close-type'].name}</li>
						<button class="btn btn-space" style="width: 90px;height:37px; margin-left: 233px;padding: 0px;" onclick="window.open('${data.url}')">상세</button>
					 </ul>
				 </div>
			`;

			var adr = data.position.location.name.replace(' &gt;', '');
			// 주소-좌표 변환 객체를 생성
			var geocoder = new kakao.maps.services.Geocoder();

			// 주소로 좌표를 검색
			geocoder.addressSearch(adr, async function(result, status) {

				// 정상적으로 검색이 완료됐으면
				if (status === kakao.maps.services.Status.OK) {

					var coords = await new kakao.maps.LatLng(result[0].y, result[0].x);

					// 클러스터 리스트에 추가
					let newLocation = { "lat": coords.La, "lng": coords.Ma };
					// 배열에 객체 추가
					clustererList.push(newLocation);
				}
			});
		}

		// 지도 위치 표시
		function f_map(){
			// var mapContainer = document.getElementById('map'), // 지도를 표시할 div
			// 		mapOption = {
			// 			center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
			// 			level: 3 // 지도의 확대 레벨
			// 		};

			// 상위
			const sido = document.querySelector('#sido');
			const sidoOption = sido.options[sido.selectedIndex];
			const sidoText = sidoOption.text;

			// 하위
			const sgg = document.querySelector('#sgg');
			const sggOption = sgg.options[sgg.selectedIndex];
			const sggText = sggOption.text;

			const adr = sidoText + " " + sggText

			// // 지도를 생성
			// var map = new kakao.maps.Map(mapContainer, mapOption);

			// 주소-좌표 변환 객체를 생성
			var geocoder = new kakao.maps.services.Geocoder();

			// 주소로 좌표를 검색
			geocoder.addressSearch(adr, function(result, status) {

				// 정상적으로 검색이 완료됐으면
				if (status === kakao.maps.services.Status.OK) {

					var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

					// 지도의 중심을 결과값으로 받은 위치로 이동
					map.setCenter(coords);
				}
			});

			// var positions = [
			// 	{
			// 		title: '안양역',
			// 		"lat": 37.402707,
			// 		"lng": 126.922044
			// 	},
			// 	{
			// 		title: '안양역 주위 1',
			// 		"lat": 37.400707,
			// 		"lng": 126.920044
			// 	},
			// 	{
			// 		title: '안양역 주위 2',
			// 		"lat": 37.403007,
			// 		"lng": 126.925044
			// 	},
			// 	{
			// 		title: '안양역 주위 3',
			// 		"lat": 37.405707,
			// 		"lng": 126.925044
			// 	}
			// ];
			//
			// var markers = positions.map(function(position) {  // 마커를 배열 단위로 묶음
			// 	return new kakao.maps.Marker({
			// 		position : new kakao.maps.LatLng(position.lat, position.lng)
			// 	});
			// });
			//
			// var clusterer = new kakao.maps.MarkerClusterer({
			// 	map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
			// 	averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
			// 	minLevel: 5, // 클러스터 할 최소 지도 레벨
			// 	markers: markers // 클러스터에 마커 추가
			// });
		}

		// 검색
		function search() {
			list_init();
			f_map();
		}

		// 클러스터
		function f_clusterer(){
			debugger;
			var markers = clustererList.map(function(position) {  // 마커를 배열 단위로 묶음
				return new kakao.maps.Marker({
					position : new kakao.maps.LatLng(position.lat, position.lng)
				});
			});

			var clusterer = new kakao.maps.MarkerClusterer({
				map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
				averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
				minLevel: 5, // 클러스터 할 최소 지도 레벨
				markers: markers // 클러스터에 마커 추가
			});
		}
	</script>
</th:block>
</html>
