<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/mypageLayout}">

<head>
	<!-- 로그인하지 않았을때 csrf가 null이므로 에러가 나타남 아래 코드 2줄로 null이 아닐경우에만 csrf 참조 하도록 수정  -->
	<meta name="_csrf" th:content="${_csrf?.token}">
	<meta name="_csrf_header" th:content="${_csrf?.headerName}">
	<!-- 차트 -->
	<link th:href="@{/myPage/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet">

	<!--
	<link th:href="@{/myPage/css/sb-admin-2.min.css}" rel="stylesheet">
	-->
	<style>
		footer {
			margin-bottom: 20px;
			color: black;
		}
	</style>

</head>

<th:block layout:fragment="content">

	<h2 style="font-weight: bold; margin-left: 160px; color: black;">[&nbsp;&nbsp;&nbsp;방문자 통계&nbsp;&nbsp;&nbsp;]</h2>
	<div
		style="background-color: white; float: center;  width: 800px; margin-right: 15px; margin-left: 160px; margin-top: 30px; text-align: center;">
		<!-- Area Chart -->
		<div class="card shadow mb-4" style="width: 900px">
			<div class="card-header py-3">
				<div class="m-0 font-weight-bold text-primary"
					style="float: left; width: 33%; margin-top: 20px; margin-bottom: 10px;">
					<div style="text-align: center;">오늘 방문자 수</div>
				</div>

				<div class="m-0 font-weight-bold text-primary"
					style="float: left; width: 33%; margin-top: 20px;">
					<div style="float: center;">어제 방문자 수</div>
				</div>

				<div class="m-0 font-weight-bold text-primary"
					style="float: left; width: 33%; margin-top: 20px;">
					<div style="float: center;">누적 방문자 수</div>
				</div>
				<br>

				<div class="m-0 font-weight-bold text-primary"
					style="float: left; width: 33%; margin-top: 20px;">
					<div id="today"
						style="text-align: center; margin-left: 10px; margin-top: 10px;">count_11</div>
				</div>

				<div class="m-0 font-weight-bold text-primary"
					style="float: left; width: 33%; margin-top: 20px;">
					<div id="yesterday" style="float: center; margin-top: 10px;">20</div>
				</div>

				<div class="m-0 font-weight-bold text-primary"
					style="float: left; width: 33%; margin-top: 20px;">
					<div id="total"
						style="float: center; margin-right: 10px; margin-top: 10px;">100</div>
				</div>
				<br>

			</div>
			<div class="card-body">
				<div class="chart-area">
					<canvas id="myAreaChart" style="height: 350px;width: 900px"></canvas>
				</div>
				<hr>
			</div>

		</div>

	</div>
	<br> <br> <br> <br>
	<h2 style="font-weight: bold; margin-left: 160px; color: black;">[&nbsp;&nbsp;&nbsp;설정&nbsp;&nbsp;&nbsp;]</h2>
	<div style="border: 1px solid #094B80; background-color: white; float: center; height: 350px; width: 900px; margin-right: 15px; margin-left: 160px; margin-top: 30px; text-align: center;">
		<!-- 스페이스 이름 -->
		<div style="text-align: left; margin-left: 45px; margin-top: 23px;margin-bottom: 8px; font-size: 20px; font-weight: bold; color: black;" >스페이스 이름</div>

		<input class="spaceText" type="text" name="name" id="name" style="width: 810px; font-size: 20px;
		letter-spacing: 4px; text-align: left; margin-left: 45px; float: left; padding: 5px;" placeholder="스페이스 이름을 입력해주세요." th:value="${member.spaceName}">
		<br>
		<!-- 관심 분야 -->
		<div style="float : left; width: 35%; text-align: left; margin-left: 45px; margin-top: 43px; margin-bottom: 8px; font-size: 20px; font-weight: bold; color: black;" >관심 분야</div>
		<!-- 취업 희망 지역 -->
		<div style="float : right; width: 50%; text-align: left;  margin-top: 43px; margin-bottom: 8px; font-size: 20px; font-weight: bold; color: black;" >취업 희망 지역</div>
		<select class="form-select " id="area"  aria-label="Default select example" style="float: left;margin-left: 45px;padding-top:5px;width: 250px;height: 35px">
			<option value="">분야</option>
			<option th:each="area : ${local}" th:value="${area}" th:text="${area}" th:selected="${area} == ${member.area}"></option>
		</select>

		<select class="form-select " id="sgg" name="sgg" aria-label="Default select example" style="float: right;margin-right: 45px;padding-top:5px;width: 200px;height: 35px" >
			<option value="">지역</option>

		</select>
		<select class="form-select " id="sido" name="sido" aria-label="Default select example" style="float: right;margin-right: 10px;padding-top:5px;width: 200px;height: 35px">
			<option value="">지역</option>
		</select>


		<!-- 스페이스 전체 공개 여부 -->
		<div style="float:left;width: 70%;text-align: left; margin-left: 45px; margin-top: 43px;margin-bottom: 8px; font-size: 20px; font-weight: bold; color: black;" >스페이스 전체 공개 여부</div>
		<button type="button" class="btn btn-space"
				style="width: 120px; float: right; margin-right: 45px;margin-top: 65px"
				id="submit" onclick="updateMemberInfo()">저장
		</button>
		<div style="float: left; width: 35%; margin-top: 0px; text-align: left;margin-left:8px">
			<input class="form-check-input" type="radio" name="radio" id="flexRadioDefault1" value="Y" th:checked="${member.allPublicYn eq 'Y'}" style="margin-left: 40px;" checked>
			<label class="form-check-label" for="flexRadioDefault1" style="margin-left: 65px;"> 공개(기본) </label>
			<input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value="N" th:checked="${member.allPublicYn eq 'N'}" style="margin-left: 20px;">
			<label class="form-check-label" for="flexRadioDefault2" style="margin-left: 50px;">비공개</label>
		</div>
	</div>


		<!-- 차트 -->
		<!-- Bootstrap core JavaScript-->
		<!-- <script src="vendor/jquery/jquery.min.js"></script> -->
		<!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

		<!-- Core plugin JavaScript-->
		<!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->

		<!-- Custom scripts for all pages-->
		<!-- <script src="js/sb-admin-2.min.js"></script> -->

		<!-- Page level plugins -->
		<script th:src="@{/myPage/vendor/chart.js/Chart.js}"></script>

		<!-- Page level custom scripts -->
		<!-- <script src="js/demo/chart-area-demo.js"></script> -->

		<script th:inline="javascript">
		// Set new default font family and font color to mimic Bootstrap's default styling
		Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
		Chart.defaults.global.defaultFontColor = '#858796';
		const header = document.querySelector('meta[name="_csrf_header"]').content;
		const token = document.querySelector('meta[name="_csrf"]').content;
		function number_format(number, decimals, dec_point, thousands_sep) {
		  // *     example: number_format(1234.56, 2, ',', ' ');
		  // *     return: '1 234,56'
		  number = (number + '').replace(',', '').replace(' ', '');
		  var n = !isFinite(+number) ? 0 : +number,
		    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
		    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
		    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
		    s = '',
		    toFixedFix = function(n, prec) {
		      var k = Math.pow(10, prec);
		      return '' + Math.round(n * k) / k;
		    };
		  // Fix for IE parseFloat(0.55).toFixed(0) = 0;
		  s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
		  if (s[0].length > 3) {
		    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
		  }
		  if ((s[1] || '').length < prec) {
		    s[1] = s[1] || '';
		    s[1] += new Array(prec - s[1].length + 1).join('0');
		  }
		  return s.join(dec);
		}

		// Area Chart Example
		var ctx = document.getElementById("myAreaChart");

		// 날짜 데이터 출력
		var currentDay = new Date();  
		var theYear = currentDay.getFullYear();
		var theMonth = currentDay.getMonth();
		var theDate  = currentDay.getDate();

		var theDayOfWeek = currentDay.getDay();
		 
		var thisWeek = [];
		 
		for(var i=0; i<12; i++) {
		  var resultDay = new Date(theYear, theMonth, theDate - (i));
		  var yyyy = String(resultDay.getFullYear());
		  var yy = yyyy.substring(2,4);
		  var mm = Number(resultDay.getMonth()) + 1;
		  var dd = resultDay.getDate();
		 
		  mm = String(mm).length === 1 ? '0' + mm : mm;
		  dd = String(dd).length === 1 ? '0' + dd : dd;
		 
		  thisWeek[i] = yy + '-' + mm + '-' + dd;
		}
		
		var count_0 = 0;
	    var count_1 = 0;
	    var count_2 = 0;
	    var count_3 = 0;
	    var count_4 = 0;
	    var count_5 = 0;
	    var count_6 = 0;
	    var count_7 = 0;
	    var count_8 = 0;
	    var count_9 = 0;
	    var count_10 = 0;
	    var count_11 = 0;
	    var total = /*[[${total}]]*/;
	    
		// 방문자 정보를 찍기 위해서 foreach문 돌림
		/*[# th:each="data : ${lists}"]*/
		
		var data = /*[[${data}]]*/;
	    
	    var spaceId = /*[[${spaceId}]]*/;
	    
	    if (spaceId == data.spaceId){
	    	if(data.date == thisWeek[0]){
	    		count_0 += 1;
	    	}
	    	else if(data.date == thisWeek[1]){
	    		count_1 += 1;
	    	}
	    	else if(data.date == thisWeek[2]){
	    		count_2 += 1;
	    	}
	    	else if(data.date == thisWeek[3]){
	    		count_3 += 1;
	    	}
	    	else if(data.date == thisWeek[4]){
	    		count_4 += 1;
	    	}
	    	else if(data.date == thisWeek[5]){
	    		count_5 += 1;
	    	}
	    	else if(data.date == thisWeek[6]){
	    		count_6 += 1;
	    	}
	    	else if(data.date == thisWeek[7]){
	    		count_7 += 1;
	    	}
	    	else if(data.date == thisWeek[8]){
	    		count_9 += 1;
	    	}
	    	else if(data.date == thisWeek[9]){
	    		count_9 += 1;
	    	}
	    	else if(data.date == thisWeek[10]){
	    		count_10 += 1;
	    	}
	    	else if(data.date == thisWeek[11]){
	    		count_11 += 1;
	    	}
	    }
	    	
	    /*[/]*/
		document.getElementById("today").innerHTML=count_0;
		document.getElementById("yesterday").innerHTML=count_1;
		document.getElementById("total").innerHTML=total;
	    
		var myLineChart = new Chart(ctx, {
		  type: 'line',
		  data: {
		    labels: [thisWeek[11], thisWeek[10], thisWeek[9], thisWeek[8], thisWeek[7], thisWeek[6], thisWeek[5], thisWeek[4], thisWeek[3], thisWeek[2], thisWeek[1], thisWeek[0]],
		    //labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
		    datasets: [{
		      label: "일간 방문 수 ",
		      lineTension: 0.3,
		      backgroundColor: "rgba(78, 115, 223, 0.05)",
		      borderColor: "rgba(78, 115, 223, 1)",
		      pointRadius: 3,
		      pointBackgroundColor: "rgba(78, 115, 223, 1)",
		      pointBorderColor: "rgba(78, 115, 223, 1)",
		      pointHoverRadius: 3,
		      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
		      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
		      pointHitRadius: 10,
		      pointBorderWidth: 2,
		      data: [count_11, count_10, count_9, count_8, count_7, count_6, count_5, count_4, count_3, count_2, count_1, count_0],
		    }],
		  },
		  options: {
			  responsive: false,
		    maintainAspectRatio: false,
		    layout: {
		      padding: {
		        left: 10,
		        right: 25,
		        top: 25,
		        bottom: 0
		      }
		    },
		    scales: {
		      xAxes: [{
		        time: {
		          unit: 'date'
		        },
		        gridLines: {
		          display: false,
		          drawBorder: false
		        },
		        ticks: {
		          maxTicksLimit: 7
		        }
		      }],
		      yAxes: [{
		        ticks: {
		          maxTicksLimit: 5,
		          padding: 10,
		          // Include a dollar sign in the ticks
		        },
		        gridLines: {
		          color: "rgb(234, 236, 244)",
		          zeroLineColor: "rgb(234, 236, 244)",
		          drawBorder: false,
		          borderDash: [2],
		          zeroLineBorderDash: [2]
		        }
		      }],
		    },
		    legend: {
		      display: false
		    },
		    tooltips: {
		      backgroundColor: "rgb(255,255,255)",
		      bodyFontColor: "#858796",
		      titleMarginBottom: 10,
		      titleFontColor: '#6e707e',
		      titleFontSize: 14,
		      borderColor: '#dddfeb',
		      borderWidth: 1,
		      xPadding: 15,
		      yPadding: 15,
		      displayColors: false,
		      intersect: false,
		      mode: 'index',
		      caretPadding: 10,
		      callbacks: {
		        label: function(tooltipItem, chart) {
		          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
		          return datasetLabel + ': ' + number_format(tooltipItem.yLabel) + '명';
		        }
		      }
		    }
		  }
		});


		$(document).ready(function (){
			var memberSggcd = /*[[ ${member.sggCd} ]]*/;
			getSido(memberSggcd);
			getSgg(memberSggcd);
			//setMemberSgg(memberSggcd);

		});


		/**
		 * 특별시도 리스트
		 */
		async function getSido(memberSggcd) {
			var memberSggcd = memberSggcd;
			var response = await fetch('/members/api/getSido');
			var data = await response.json();
			let html = '';

			if(!data.length){
				alert('해당하는 정보가 존재하지 않습니다.');
			} else {
				data.forEach((obj, idx) => {
					/*
					html += `
					 		<option value="${obj.sggCd}">${obj.sggNm}</option>
					 `;
					 */
					if(memberSggcd.substring(0,3) == obj.sggCd.substring(0,3)) {
						html += `
					 		<option value="${obj.sggCd}" selected>${obj.sggNm}</option>
							 `;
					} else {
						html += `
					 		<option value="${obj.sggCd}">${obj.sggNm}</option>
							 `;
					}
				});
			}
			$('#sido').append(html).trigger("change");
		}

		/**
		 * 특별시도 선택시 하위 시군구 출력
		 */
		function getSgg(memberSggcd){
			var memberSggcd = memberSggcd;
			$(document).on("change","select[name=sido]",async function () {
				const sido = $("#sido").val();
				if (sido !== "") {
					var response = await fetch(`/members/api/getSgg?sido=${sido}`);
					var data = await response.json();
					let html = '';
					$('#sgg').empty();
					data.forEach((obj, idx) => {
						if(memberSggcd == obj.sggCd) {
							html += `
					 		<option value="${obj.sggCd}" selected>${obj.sggNm}</option>
							 `;
						} else {
							html += `
					 		<option value="${obj.sggCd}">${obj.sggNm}</option>
							 `;
						}
					})
					$('#sgg').append(html);

				}
			});
		}

		async function setMemberSgg(memberSggcd) {
			var membersgg = memberSggcd;

			var response = await fetch(`/members/api/getMemberSido?memberSgg=${membersgg}`);
			var data = await response.json();
			// api return이 list가 아니라서 dto 단독이라서 json.length 말고 json으로 return 체크
			if (!data) {

			} else {
				$('#sido').val(data.upprCd).prop("selected", true).trigger('change');
			}
		}

		function updateMemberInfo(){
			const spaceName = $('#name').val();
			const area = $('#area').val();
			const sido = $('#sido').val();

			if(spaceName.length < 1) {
				alert('스페이스 이름을 입력해주세요.')
				return false;
			}
			if(area === ""){
				alert('관심 분야를 선택해주세요.')
				return false;
			}
			if(sido === ""){
				alert('취업 희망 지역을 선택해주세요.')
				return false;
			}

			var params = {
				spaceName : spaceName,
				area : area,
				sggCd : $('#sgg').val(),
				allPublicYn : $('input[name=radio]:checked').val()
			}

			// 회원정보 수정
			fetch('/members/api/updateMemberInfo',{
				method : 'POST',
				headers : {
					'header': header,
					'X-Requested-With': 'XMLHttpRequest',
					'Content-Type' : 'application/json',
					'X-CSRF-Token': token
				},
				body : JSON.stringify(params)

			}).then(response => {
				if(response.ok){
					location.replace('/space/'+spaceId);
				}
				else {
					alert('등록에 실패하였습니다.')
					return false;
				}
			})



		}



		</script>
</th:block>
</html>