<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>회원가입</title>
	<meta charset="utf-8">
	
	<!-- 로그인하지 않았을때 csrf가 null이므로 에러가 나타남 아래 코드 2줄로 null이 아닐경우에만 csrf 참조 하도록 수정  -->
	<meta name="_csrf" th:content="${_csrf?.token}">
	<meta name="_csrf_header" th:content="${_csrf?.headerName}">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/signup/css/style.css">
	
	<style>
		.form-group label {
			font-family: 'Poppins-Bold';
			font-size: 18px;
			color: #333333;
			line-height: 1.5;
		}
		
		.btn-space {
			background-color: #094B80;
			color: white;
			font-weight: bold;
			border-color: #094B80;
			font-size: 1.2rem;
		}
		
		.btn-space:hover {
			background-color: #094B80;
			color: white;
			font-weight: bold;
			border-color: #094B80;
			font-size: 1.2rem;
		}
		
		.fieldError {
            color: #bd2130;
        }
	</style>
	
	<!-- Channel Plugin Scripts -->
<script>
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
  ChannelIO('boot', {
    "pluginKey": "fca736d4-fb37-47ee-a22f-4533d8676e38"
  });
</script>
<!-- End Channel Plugin -->
	
    
</head>

<body style="background-color:#023476;">
	<section class="ftco-section" >
		<div class="container">
			 <!--  <div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Sign Up #01</h2>
				</div> 
			</div> -->
			<div class="row justify-content-center"  >
				<div class="col-md-7 col-lg-6 col-xl-5">
					<div class="login-wrap p-4 p-md-5" style="margin-top:200px">
						<h3 class="mb-4 text-center" style="">추가정보 
					</h3>
						
						<!-- <a href="#" class="img d-flex align-items-center justify-content-center"><span class="fa fa-user-o"></span></a> -->
						<form class="signup-form" th:object="${oauthAddInfoDto}" action="/members/login/addInfo" role="form" method="post" name="join_form">

							<div class="form-group mb-4" >
								  <label class="label" th:for="spaceId" style="font-weight: bold">스페이스 주소</label>
								  <input type="text" class="form-control" th:field="*{spaceId}" placeholder="구분할 수 있는 스페이스 주소를 입력해주세요.">
								  <br>
								  <label class="label" th:for="area" style="margin-bottom: 6px;font-weight: bold">관심 분야</label>
								  <br>
								  <select class="form-select " th:field="*{area}" aria-label="Default select example" style="padding-top:5px;width: 400px;height: 35px">
									<option value="">분야</option>
									<option th:each="area : ${local}" th:value="${area}" th:text="${area}"></option>
								  </select>
								<br>
								<br>
								<label class="label" th:for="area" style="margin-bottom: 6px;font-weight: bold">취업 희망 지역</label>
								<br>
								<select class="form-select " id="sido" aria-label="Default select example" style="padding-top:5px;width: 195px;height: 35px">
									<option value="">특별시∙도</option>
								</select>

								<select class="form-select " id="sgg" aria-label="Default select example" style="padding-top:5px;width: 190px;height: 35px">
									<option value="">시∙군∙구</option>
								</select>
							</div>
							
							<div class="d-flex mb-4 align-items-center">
								<label class="control control--checkbox mb-0">
									<input type="checkbox" id="agree" />
									<span class="caption">&nbsp;스페이스 이용약관, 개인정보 수집 및 서비스 이용약관에</span><br>
									<span class="caption">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;모두 동의합니다.</span>
								</label>
							</div>
							
							<div class="form-group">
								<!--  <button type="button" onclick="formCheck();" class="btn btn-primary rounded submit p-3">완료</button> -->
								<button type="button" onclick="formCheck()" class="btn btn-space rounded submit p-4">완&nbsp&nbsp료</button>
							</div>
							
							<input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/signup/js/jquery.min.js"></script>
	<script src="/signup/js/popper.js"></script>
	<script src="/signup/js/bootstrap.min.js"></script>
	<script src="/signup/js/main.js"></script>

</body>
 <script th:inline="javascript">
	 const header = document.querySelector('meta[name="_csrf_header"]').content;
	 const token = document.querySelector('meta[name="_csrf"]').content;


	 $(document).ready(function (){
		 getSido();
		 getSgg();
	 });

	 /**
	  * 특별시도 리스트
	  */
	 function getSido() {
		 fetch('/members/api/getSido').then(response => {
	 		if(response.ok) {
				 return response.json();
			} else {
				alert('문제가 발생하였습니다.');
			}
		 }).then(json => {
			 let html = '';

			 if(!json.length){
				alert('해당하는 정보가 존재하지 않습니다.');
			 } else {
				 json.forEach((obj, idx) => {
					 html += `
					 		<option value="${obj.sggCd}">${obj.sggNm}</option>
					 `;
				 });
			 }

			 $('#sido').append(html);
		 });
	 }

	 /**
	  * 특별시도 선택시 하위 시군구 출력
	  */
	 function getSgg(){
		 $("#sido").on("change", function() {
			 const sido = $("#sido").val();
			 if (sido !== "") {
				 fetch(`/members/api/getSgg?sido=${sido}`).then(response => {
					 if(response.ok) {

						 return response.json();
					 }
				 }).then(json => {
					 let html = '';
					 if(!json.length) {

					 } else {
						 $('#sgg').empty();
						 json.forEach((obj, idx) => {
							 html += `
					 		<option value="${obj.sggCd}">${obj.sggNm}</option>
							 `;
						 })
						 $('#sgg').append(html);
					 }
				 });
			 }
		 });
	 }

	 /**
	  * 추가 정보 등록 체크
	  */
	 async function formCheck(){
		 let spaceId = $('#spaceId').val();
		 let area = $('#area').val();
		 let sido = $('#sido').val();
		 let agree = $('#agree').is(':checked');

		if(spaceId.length < 1) {
			alert('스페이스 주소를 입력해 주세요.');
			return false;
		}
		if(area === '') {
			alert('분야를 선택해 주세요.');
			return false;
		}
		if(sido === '') {
			alert('지역을 선택해주세요.');
			return false;
		}
		if(!agree){
			alert('약관 동의를 체크하세요.');
			return false;
		}
		await loginAddInfo();
 	}

	 /**
	  * 스페이스 중복 체크 및 LoginAddInfo
	  */
	 async function loginAddInfo(){
		 let spaceId = $('#spaceId').val();
		 let area = $('#area').val();
		 let sgg = $('#sgg').val();


		const response = await fetch('/members/api/spaceIdCheck',{
			method : 'POST',
			headers : {
				'header': header,
				'X-Requested-With': 'XMLHttpRequest',
				'Content-Type' : 'application/json',
				'X-CSRF-Token': token
			},
			body : spaceId
		});

		const data = await response.json();

		if(data) {
			alert('스페이스 아이디가 이미 존재합니다. 다른 아이디를 입력해주세요.');
			$('#spaceId').val('');
			return false;
		} else {

			const params = {
				spaceId : spaceId,
				area : area,
				sggCd : sgg
			};


		fetch('/members/api/addLoginInfo',{
			method : 'POST',
			headers : {
				'header': header,
				'X-Requested-With': 'XMLHttpRequest',
				'Content-Type' : 'application/json',
				'X-CSRF-Token': token
			},
			body : JSON.stringify(params)

		}).then(response => {
			if(response.ok){
				location.replace('/space/'+spaceId);
			}
			else {
				alert('등록에 실패하였습니다.')
				return false;
			}
		})
		}
	 }

        </script>

</html>