<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/mypageLayout}">
<th:block layout:fragment="css">
   <style>
      /* ckeditor */
      .ck.ck-editor {
         max-width: 799px;
      }

      .ck-editor__editable {
         min-height: 480px;
      }
   </style>
</th:block>

<th:block layout:fragment="content">
   <h2 style="font-weight: bold; margin-left: 200px;">스페이스 수정하기</h2>
   <div style="border: 1px solid #094B80; background-color: white; float: center; width: 850px; margin-right: 15px; margin-left: 200px; margin-top: 30px; text-align: center;">
         <!-- 카테고리 -->
         <div style="float: left; width: 25%; margin-top: 20px;">
            <select id="category_list" class="form-select border-1 category_list" style="height: 50px; width: 180px; margin-left: 20px;">
            </select>
         </div>
         <div
                 style="float: left; width: 65%; margin-top: 20px; margin-left: 30px;">
            <!-- 검색창 -->
            <div class="search" style="width: 575px;">
               <input th:value="${content.title}" class="search_text" type="text" id="title" name="title" placeholder="타이틀을 입력해주세요."
                      style="height: 50px; font-size: 16px;">
            </div>
         </div>

         <br> <Br> <Br>
         <hr style="color: #094B80; margin-bottom: 0px">
         <!-- 내용 -->
         <div
                 style="margin-top: 25px; margin-left: 30px; margin-right: 30px; margin-bottom: 10px;">
                  <textarea name="content" id="content" th:text="${content.content}">
               </textarea>
         </div>

         <div style="float: left; width: 50%; margin-top: 0px;">
            <div style="text-align: left; margin-left: 40px; margin-top: 15px; font-size: 20px; font-weight: bold; margin-bottom: 5px">공개여부</div>
         </div>

         <div
                 style="float: right; width: 50%; margin-top: 30px; text-align: right;">
            <button type="button" class="btn btn-space" onClick="formCheck()"
                    style="width: 120px; float: right; margin-right: 30px;">저&nbsp;장</button>
         </div>
         <!-- 공개여부 -->
         <div style="width: 50%; margin-top: 10px; text-align: left;">
            <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault1" value="Y" style="margin-left: 40px;" checked>
            <label class="form-check-label"
                   for="flexRadioDefault1" style="margin-left: 65px;"> 공개 </label>
            <input class="form-check-input" type="radio" name="radio" id="flexRadioDefault2" value="N" style="margin-left: 20px;">
            <label class="form-check-label" for="flexRadioDefault2"
                   style="margin-left: 45px;">비공개</label>
         </div>
      <br>
   </div>
</th:block>

<th:block layout:fragment="script">
   <!-- ckeditor  -->
   <script
           src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
   <script
           src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>

   <!-- 사용자 스크립트 추가 -->
   <script th:inline="javascript">
      //ckeditor 이미지 전송
      const $ckUploadPath = "/mypage/image/upload?_csrf=" +  document.getElementById('_csrf').content;

      ClassicEditor
      .create(document.querySelector('#content'), {
         language: 'ko',
         ckfinder: {
            uploadUrl : $ckUploadPath,

         }
      })
      .then( newEditor => {
          editor = newEditor;
        } )
      .catch(error => {
          console.error(error);
      } );

      // 수정하기
      function formCheck(){
         // validation check
         var title_value = document.getElementById("title").value;

         var langSelect = document.getElementById("category_list");
         var selectValue = document.getElementById("category_list").options[langSelect.selectedIndex].value;

         if(selectValue == "default"){
            alert("카테고리를 선택하세요.");
            langSelect.focus();
            return false;
         }
         if(!title_value){
            alert("타이틀을 입력해주세요");
            title.focus();
            return false;
         }
         if(editor.getData() == ""){
            alert("내용을 입력해주세요");
            return false;
         }

         const space_data = {
            spaceId : /*[[ ${content.id} ]]*/,
            categoryId : $("#category_list option:selected").val(),
            openYn : $('input[name="radio"]:checked').val(),
            title : title_value,
            content : editor.getData(),
            memberId: /*[[ ${member.id} ]]*/
         }

         // 수정
         fetch("/mypage/space/api/update/", {
            method: 'POST',
            headers: {
               'header': document.getElementById('_csrf_header').content,
               'X-Requested-With': 'XMLHttpRequest',
               "Content-Type": "application/json",
               'X-CSRF-Token': document.getElementById('_csrf').content
            },
            body: JSON.stringify(space_data)
         }).then(response => {
            if (!response.ok) {
               throw new Error('Request failed...');
            }
            alert('스페이스가 수정되었습니다.');
            history.go(-1);
         }).catch(error => {
            alert('오류가 발생하였습니다.');
         });
      }

      $(function () {
         // 카테고리 리스트 조회
         category_list();

         // 공개여부 값 지정
         var open= /*[[ ${content.openYn} ]]*/
         $("input[type=radio][value="+open+"]").prop("checked", true);

      })

      // 카테고리 리스트
      const params= {
         memberId : /*[[ ${member.id} ]]*/
      }

      function category_list() {
         fetch('/mypage/category/api/list', {
            method: 'POST',
            headers: {
               'header': document.getElementById('_csrf_header').content,
               'X-Requested-With': 'XMLHttpRequest',
               "Content-Type": "application/json",
               'X-CSRF-Token': document.getElementById('_csrf').content
            },
            body: JSON.stringify(params)
         }).then(response => {
            if (!response.ok) {
               throw new Error('Request failed...');
            } else {
               return response.json();
            }
         }).then(json => {
            let html;

            json.forEach((obj, idx) => {
               html += `
                <option value="${obj.categoryId}">${obj.categoryType}</option>
                 `;
            });
            document.getElementById("category_list").innerHTML = html;
            $('#category_list').val(/*[[ ${category_value} ]]*/).prop("selected",true);
         }).catch(error => {
            alert('오류가 발생하였습니다.');
         })
      }
</script>
</th:block>